body{
    display: table;
    overflow: hidden;
}

.data{
  margin-top: 15px;
  padding-right: 10px;
  opacity: 0;
}

h1{
  font-family: 'Trebuchet MS', sans-serif;
}

#community-title{
  text-align: center;
  margin-top: 15px;
  color: white;
  opacity: 0;
  font-weight: bold;
}

.parameter{
  min-width: 130px;
  max-width: 130px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 17px;
  color: white;
}

.value{
  max-width: 400px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 15px;
  color: white;
  padding-left: 0px;
  
}

.content{
  margin-top: 30px;
  margin-left: 15px;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes disappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.info{
    position: absolute;
    right: 10;
    top: 10;
    background-color: black;
    opacity: 0.5;
    backdrop-filter: blur(10px);
    width: 50px;
    height: 50px;
    border-radius: 10%;
    border: 3px solid whitesmoke;
    text-align: center;
    color: white;
}

.smalliIcon{
  position: absolute;
  top: 20;
  right: 20;
  font-size: 30px;
  color: white;
  opacity: 1;
  z-index: 2;
}

.smallXIcon{
  position: absolute;
  top: 20;
  right: 25;
  font-size: 30px;
  color: white;
  opacity: 0;
  z-index: 1;
  pointer-events: none;

}

.smallXIcon:hover{
  color:rgb(255, 65, 65);

}

.smalliIcon:hover{
  color: rgb(197, 197, 197);
}

.show{
  -webkit-animation: appear 0.2s ease;
  -webkit-animation-fill-mode: forwards;
  z-index: 2;
  pointer-events: all;
}

.hide{
  -webkit-animation: disappear 0.2s ease;
  -webkit-animation-fill-mode: forwards;
  z-index: 1;
  pointer-events: none;
}

.info-space{
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
  height: auto;
  padding-bottom: 15px;
}



.retract{
    -webkit-animation: retract 0.2s ease-in;
    -webkit-animation-fill-mode: forwards;
}

.expand{
    -webkit-animation: expand 0.3s ease-in;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes expand {
    0% {
      width: 50px;
      height: 50px;
    }
    100% {
      width: 100%;
      height: 100%;
      border-radius: 2%;
    }
  }

  @-webkit-keyframes retract {
    0% {
      width: 100%;
      height: 100%;
      border-radius: 2%;
    }
    100% {
      width: 50px;
      height: 50px;
    }
  }



.treeJs-container{
    z-index: -1;
    position: absolute
}