body{
    display: table;
    overflow: hidden;
}

.info{
    position: absolute;
    right: 20;
    top: 20;
    background-color: gray;
    opacity: 0.5;
    width: 50px;
    height: 50px;
    border-radius: 10%;
    border: 3px solid whitesmoke;

}

.retract{
    -webkit-animation: retract 1s ease-in;
    -webkit-animation-fill-mode: forwards;
}

.expand{
    -webkit-animation: expand 1s ease-in;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes expand {
    0% {
      width: 50px;
      height: 50px;
    }
    100% {
      width: 500px;
      height: 300px;
    }
  }

  @-webkit-keyframes retract {
    0% {
        width: 500px;
        height: 300px;
    }
    100% {
      width: 50px;
      height: 50px;
    }
  }

.info:hover{
    background-color: black;
}

.treeJs-container{
    z-index: -1;
    position: absolute
}