body {
  display: table;
  overflow: hidden;
}

.data, .legendData {
  margin-top: 15px;
  padding-right: 10px;
  opacity: 0;
}

.hidden-content{
  z-index: 4;
  width: 0px;
  height: 0px;
  position: absolute;
}



h1 {
  font-family: 'Trebuchet MS', sans-serif;
}

#community-title {
  text-align: left;
  margin-top: 15px;
  color: white;
  opacity: 0;
  font-weight: bold;
  margin-left: 15px;
}

.parameter {
  min-width: 130px;
  max-width: 130px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 17px;
  color: white;
}

.value {
  max-width: 400px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 15px;
  color: white;
  padding-left: 0px;
  margin-right: 10px;
}

.legendValue{
  max-width: 20px;
}

.content {
  margin-left: 15px;
}

@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes disappear {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.info {
  position: absolute;
  right: 10;
  top: 10;
  background-color: black;
  opacity: 0.5;
  backdrop-filter: blur(10px);
  width: 50px;
  height: 50px;
  border-radius: 10%;
  border: 3px solid whitesmoke;
  text-align: center;
  color: white;
}

.smalliIcon {
  position: absolute;
  top: 20;
  right: 20;
  font-size: 30px;
  color: white;
  opacity: 1;
  z-index: 2;
}

.smallXIcon {
  position: absolute;
  top: 20;
  right: 25;
  font-size: 30px;
  color: white;
  opacity: 0;
  z-index: 1;
  pointer-events: none;

}

.smallXIcon:hover, .xLegend:hover {
  color: rgb(255, 65, 65);

}

.smalliIcon:hover, .legendIcon:hover {
  color: rgb(197, 197, 197);
}

.legend-space{
  position: absolute;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  padding-bottom: 60px;
}

.legend{
  position: absolute;
  right: 10;
  bottom: 10;
  background-color: black;
  opacity: 0.5;
  backdrop-filter: blur(10px);
  width: 50px;
  height: 50px;
  border-radius: 10%;
  border: 3px solid whitesmoke;
  text-align: center;
  color: white;
}

.legendIcon {
  position: absolute;
  bottom: 20;
  right: 20;
  font-size: 30px;
  color: white;
  opacity: 1;
  z-index: 2;
}

.xLegend {
  position: absolute;
  bottom: 20;
  right: 25;
  font-size: 30px;
  color: white;
  opacity: 0;
  z-index: 1;
  pointer-events: none;

}

.myShow {
  -webkit-animation: appear 0.2s ease;
  -webkit-animation-fill-mode: forwards;
  z-index: 2;
  pointer-events: all;
}

.hide {
  -webkit-animation: disappear 0.2s ease;
  -webkit-animation-fill-mode: forwards;
  z-index: 1;
  pointer-events: none;
}

.info-space {
  position: absolute;
  right: 0;
  top: 0;
  width: 30%;
  height: auto;
  padding-bottom: 15px;
}


.retract {
  -webkit-animation: retract 0.2s ease-in;
  -webkit-animation-fill-mode: forwards;
}

.expand {
  -webkit-animation: expand 0.3s ease-in;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes expand {
  0% {
    width: 50px;
    height: 50px;
  }

  100% {
    width: 100%;
    height: 100%;
    border-radius: 2%;
  }
}

@-webkit-keyframes retract {
  0% {
    width: 100%;
    height: 100%;
    border-radius: 2%;
  }

  100% {
    width: 50px;
    height: 50px;
  }
}




.treeJs-container {
  z-index: -1;
  position: absolute
}

hr.hr1 {
  color: white;
    width: 95%;
    border: solid 2px white;
    opacity: 1;
    position: relative;
}

.circle{
  border-radius: 50%;
  margin-right: 25px;
}

.red{
  background-color: red;
}

.blue{
  background-color: blue;
}

.yellow{
  background-color: yellow;
}

.lightblue{
  background-color: aqua;
}

.green{
  background-color: rgb(11, 241, 30);
}